body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 20px;
}

.tutorial-section {
    margin-bottom: 30px;
}

.code-example {
    background-color: gray;
    color: #fff;
    padding: 10px;
    overflow-x: auto;
    width: 50%;
    margin: 0 auto;
    overflow-x: scroll;
}

.highlight {
  background-color: black;
  border-radius: 5px; 
  padding: 10px;
  border-radius: 5px; 
  
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px; 
  color: white;
  max-width: fit-content;
  
    
} 

code {
    text-align: left;
}

